<div class="column">
  <h2 class="ui teal image header">
    <div class="content">
      Log-in to your account
    </div>
  </h2>
  <form class="ui large form">
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="email" [(ngModel)]="userData.email" name="email" placeholder="E-mail address">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" [(ngModel)]="userData.password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui center">
        <div class="ui large teal submit button" (click)="login(userData)" >Login</div>
      </div>
    </div>

    <div class="ui red message" *ngIf="err.show">
      {{err.mgs}}
    </div>

  </form>

  <div class="ui message">
    New to us?
    <a (click)="change()">Sign Up</a>
  </div>
</div>